@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

.container-fluid {
    background-color: #1d1d42;
    padding-bottom: 20px;
}

.row {
    background-color: #1d1d42;
}

/* <---- Scrollbar ----> */
.mainContainer::-webkit-scrollbar {
    width: 4em;
    border-radius: 100px;
    background: transparent;
}

.mainContainer::-webkit-scrollbar-track-piece {
    background: transparent;
}

.mainContainer::-webkit-scrollbar-track {
    background: black;
    width: 4em;
    border-radius: 100px;
}


.mainContainer::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 100vw;
}
