@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

/* <----- Stack -----> */
.vstack {
    background-color: #141432;
    border-radius: 10px;
    margin-top: 3%;
    padding-bottom: 13px;
    height: 670px;
}

.page-row {
    background-color: #141432;
    height: 40px;
}

.page-col {
    margin-top: 1%;
    padding: 0px 0px 0px 0px;
}

.page-left {
    margin-right: 10%;
    float: right;
}

.page-right {
    margin-left: 10%;
    float: left;
}

.page-link {
    padding: 0 4px 0 4px;
    height: 37px;
    background-color: transparent;
    border: none;
}

.page-cont {
    border-bottom: 1px solid #2e2d71;
    height: 50px;
}


/* <----- Card -----> */
.card { 
    background-color: #1b1a43;
    color: white;
    margin: 4% 2% 0% 2%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
}

.card-footer {
    border-color: #2e2d71;
    text-align: right;
    font-size: 15px;
}

.left-footer {
    background-color: #1b1a43;
    text-align: left;
    font-size: 14px;
}

.right-footer {
    background-color: #1b1a43;
    text-align: right;
    font-size: 14px;
}

.row-footer {
    background-color: #1b1a43;
}

.card-header {
    border-color: #2e2d71;
    font-size: x-large;
}

.edit-btn {
    margin-top: 0.7%;
    background-color: transparent;
    border: none;
    width: 30px;
    padding: 0 0 0 0;
    float: right;
    margin-right: 3%;
}

.edit-btn:hover {
    background-color: transparent;
}

.edit-btn:focus {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    float: right;
    outline: none;
    box-shadow: none;
}

.delete-btn {
    margin-top: 0.7%;
    background-color: transparent;
    border: none;
    width: 30px;
    padding: 0 0 0 0;
    float: right;
}

.delete-btn:hover {
    background-color: transparent;
}

.delete-btn:hover {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    float: right;
}

.delete-btn:focus {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    float: right;
    outline: none;
    box-shadow: none;
}

/* <----- Project Header -----> */
.project-header {
    color: white;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif;
}

.project-btn {
    background-color: #383799;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0.5%;
    border: 3px solid #232256;
    float: right;
    border-radius: 25px;
}

.project-btn:focus {
    border: 3px solid #232256;
    background-color: #4240b1;
    box-shadow: none !important;
}

.project-btn:hover {
    border: 3px solid #232256;
    background-color: #4240b1;
}


/* <----- Badges -----> */
.language-badge {
    background-color: #3634b6;
    font-size: 14px;
    vertical-align: middle;
    padding: 7px;
    margin-bottom: 0.4%;
    margin-left: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

.issue-badge {
    background-color: #3634b6;
    font-size: 14px;
    height: 28px;
    width: 85px;
    vertical-align: middle;
    padding: 7px;
    margin-bottom: 0.5%;
    margin-left: 2%; 
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.issue-number {
    font-size: 11px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 0%;
    background-color: #605eed;
}

/* <----- Modal -----> */
.modal-content {
    background-color: #1c1c47;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: 1.5px solid #3e3d9a;
    overflow-y: hidden;
}

.modal-header {
    font-size: 20px;
    border-bottom: 1.5px solid #2f2e74;
}



