@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

/* <----- Stack -----> */
.vstack {
    background-color: #141432;
    border-radius: 10px;
    margin-top: 3%;
    padding-bottom: 13px;
}

/* <----- Card -----> */
.card { 
    background-color: #1b1a43;
    color: white;
    margin: 4% 2% 0% 2%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
}

.card-footer {
    border-color: #2e2d71;
    text-align: right;
    font-size: 15px;
}

.left-footer {
    background-color: #1b1a43;
    text-align: left;
    font-size: 14px;
}

.right-footer {
    background-color: #1b1a43;
    text-align: right;
    font-size: 14px;
}

.row-footer {
    background-color: #1b1a43;
}

.card-header {
    border-color: #2e2d71;
    font-size: x-large;
}

/* <----- Project Header -----> */
.project-header {
    color: white;
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif;
}

.project-btn {
    background-color: #383799;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0.5%;
    border: 3px solid #232256;
    float: right;
    border-radius: 25px;
}

.project-btn:focus {
    border: 3px solid #232256;
    background-color: #4240b1;
    box-shadow: none !important;
}

.project-btn:hover {
    border: 3px solid #232256;
    background-color: #4240b1;
}


/* <----- Badges -----> */
.language-badge {
    background-color: #3634b6;
    font-size: 15px;
    vertical-align: middle;
    padding: 7px;
    margin-bottom: 0.5%;
    margin-left: 3%;
}

.issue-badge {
    background-color: #3634b6;
    font-size: 17px;
    vertical-align: middle;
    padding: 7px;
    margin-bottom: 0.5%;
    margin-left: 3%;
    width: 100px;
}

.issue-number {
    font-size: 12px;
    border-radius: 50%;
    margin-left: 5%;
    background-color: #605eed;
}

/* <----- Modal -----> */
.modal-content {
    background-color: #1c1c47;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: 1.5px solid #3e3d9a;
    overflow-y: hidden;
}

.modal-header {
    font-size: 20px;
    border-bottom: 1.5px solid #2f2e74;
}



