html {
  background-color: #1d1d42;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141432;
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c64;
  border: 1px solid rgb(0,0,0);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #393981;
}


